@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0rem 1.5rem;
  height: 7rem;
  top: 0;
  background-color: #050a30;
  z-index: 100;

  .modal {
    position: fixed;
    height: calc(100dvh - 7rem);
    width: 100vw;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoSection {
    display: flex;
    align-items: center;
    width: 70%;

    .logoContainer {
      position: absolute;
      left: 6%;
      .logo {
        @include hoverEffect(1);
      }
    }
  }
  .linkSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    li {
      margin-left: 1rem;
      list-style: none;
      text-align: center;
    }
    a,
    p {
      font-size: 1.8rem;
      text-decoration: none;
      @include hoverEffect(0.5);
    }
    .active {
      border-bottom: 2px solid white;
    }
    .btnContainer {
      height: 5rem;
      padding: 0rem 0rem;

      button {
        margin-top: -2.1rem;
        top: 0;
      }
    }

    .ctaBusiness {
      @include hoverEffect(1);
      border: none;
      width: 15rem;
      height: 5rem;
      border-radius: 1.5rem;
      background-color: $lightAccent;
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      transition: all 0.1s ease-in-out;
      opacity: 1;
    }
  }
}

@media (max-width: $largeDesktop) {
  .container {
    .logoSection {
      width: 60%;
      .logoContainer {
        left: 4%;
      }
    }
    .linkSection {
      width: 40%;
    }
  }
}

@media (max-width: $tablet) {
  .container {
    .logoSection {
      width: 30%;
      .logoContainer {
        left: 7%;
      }
    }
    .linkSection {
      width: 70%;
    }
  }
}

@media (max-width: $Mobile) {
  .container {
    .logoSection {
      width: 20%;
      .logoContainer {
        left: 7%;
      }
    }
    .linkSection {
      width: 80%;
      a,
      p {
        font-size: 1.6rem;
      }
    }
  }
}
