@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0rem 1.5rem;
  height: 7rem;
  top: 0;
  background-color: #050a30;
  z-index: 100;
  .logoSection {
    display: flex;
    align-items: center;
    width: 25%;

    .logoContainer {
      position: absolute;
      left: 6%;
      .logo {
        @include hoverEffect(1);
      }
    }
  }
  .linkSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    ul {
      display: flex;
      list-style-type: none;
    }
    li {
      margin-left: 1rem;
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  }
}

@media (max-width: $largeDesktop) {
  .container {
    .logoSection {
      .logoContainer {
        left: 4%;
      }
    }
  }
}

@media (max-width: $tablet) {
  .container {
    .logoSection {
      .logoContainer {
        left: 7%;
      }
    }
  }
}
