@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  background-color: white;
  color: black;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80dvh;
  border-radius: 1.5rem;

  .closeBtn {
    position: absolute;
    @include hoverEffect(1);
    top: 0.5rem;
  }

  .navigator {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    p {
      z-index: 0 !important;
      color: black;
      text-align: center !important;
      @include hoverEffect(1);
    }
    .active {
      color: blue;
      border-bottom: 5px solid black;
    }
  }
  .tradindStyle {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    .text {
      color: black;
      font-weight: bold;
      line-height: 2;
    }
  }

  .performanceContainer {
    display: flex;
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    p {
      @include hoverEffect(1);
      color: black;
    }

    .left {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-right: 1px solid black;
      p {
        text-align: center;
        width: 40%;
      }
      .active {
        color: blue;
        border-bottom: 2.5px solid black;
      }
    }
    .right {
      width: 70%;
      display: flex;
      flex-direction: column;
      .timePeriodContainer p {
        text-align: center;
      }
      .contentContainer {
        display: flex;
        height: 80%;
        .nested {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          .neg {
            margin-left: 0px;
            color: red;
          }
          .pos {
            margin-left: 0px;
            color: green;
          }
        }
        .contentLeft {
          display: flex;
          justify-content: center;
          width: 50%;
          align-items: center;
          flex-direction: column;

          p {
            text-align: center;
            font-size: 1.6rem;
          }
        }
        .contentRight {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            font-size: large;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .container {
    .tradindStyle {
      width: 80%;
    }
    .performanceContainer {
      .right {
        overflow-y: scroll;

        .contentContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .nested {
            width: 80% !important;
            margin: auto;
          }

          .contentLeft {
            width: 90% !important;
          }
          .contentRight {
            width: 90% !important;

            p {
              font-size: medium;
            }
          }
        }
      }
      .right::-webkit-scrollbar {
        width: 5px;
      }

      .right::-webkit-scrollbar-track {
        background: transparent;
      }

      .right::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .container {
    .navigator {
      width: 70%;
    }

    .tradindStyle {
      position: fixed;
      overflow-y: scroll;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%;
      padding: 1rem;
    }
    .tradindStyle::-webkit-scrollbar {
      width: 12px;
    }

    .tradindStyle::-webkit-scrollbar-track {
      background: transparent;
    }

    .tradindStyle::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 6px;
    }
  }
  .performanceContainer {
    .left {
      p {
        width: 90% !important;
      }
    }
  }
}
@media (max-width: $tablet) {
  .container {
    .navigator {
      p {
        margin-right: 0.5rem;
        margin-top: 2rem;
        font-size: 1.2rem;
      }
    }
  }
}
