@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  background-color: white;
  color: black;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80dvh;
  border-radius: 1.5rem;

  .closeBtn {
    position: absolute;
    @include hoverEffect(1);
    top: 0.5rem;
  }

  .navigator {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    p {
      color: black;
      text-align: center !important;
      @include hoverEffect(1);
    }
    .active {
      color: blue;
      border-bottom: 5px solid black;
    }
  }
  .tradindStyle {
    width: 50%;
    margin: 0 auto;

    .text {
      color: black;
      font-weight: bold;
      line-height: 2;
    }
  }

  .performanceContainer {
    display: flex;
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    p {
      @include hoverEffect(1);
      color: black;
    }

    .left {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-right: 1px solid black;
      p {
        text-align: center;
      }
    }
    .right {
      width: 70%;
      display: flex;
      flex-direction: column;
      .timePeriodContainer p {
        text-align: center;
      }
      .contentContainer {
        display: flex;
        height: 80%;
        .contentLeft {
          display: flex;
          justify-content: center;
          width: 50%;
          align-items: center;
          flex-direction: column;

          p {
            text-align: center;
          }
        }
        .contentRight {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .container {
    .tradindStyle {
      width: 80%;
    }
  }
}

@media (max-width: $tablet) {
  .container {
    .navigator {
      width: 70%;
    }

    .tradindStyle {
      position: fixed;
      overflow-y: scroll;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%;
      padding: 1rem;
    }
    .tradindStyle::-webkit-scrollbar {
      width: 12px;
    }

    .tradindStyle::-webkit-scrollbar-track {
      background: transparent;
    }

    .tradindStyle::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 6px;
    }
  }
}
