@import "./styles/variables.module.scss";

.container {
  z-index: 1000;
  .progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $darkAccent;
    transform-origin: 0%;
  }
}
