@import "./styles/variables.module.scss";
@import "./styles/mixins.module.scss";

.container {
  // .circle {
  //   width: 1000px;
  //   height: 1000px;
  //   border-radius: 50%;
  //   background-color: rgb(112, 112, 112); /* Background color */
  //   position: absolute;
  //   top: -10rem;
  //   left: -30rem;
  //   z-index: 98;
  //   opacity: 0.5;
  // }
  .progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $darkAccent;
    transform-origin: 0%;
  }

  .blogContainer {
    width: 65%;
    margin: 0 auto;
    z-index: 1;
    margin-top: -30rem;
  }

  .blogWrapperContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .svg {
    position: relative;
    bottom: 20rem;
  }

  .path {
    bottom: 100rem;
    stroke-width: 0;
  }

  .blogsHeader {
    text-align: center;
  }
  .ctaContainer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    // margin-top: 25rem;

    .ctaBtn {
      @include hoverEffect(1);
      border: none;
      width: 15rem;
      height: 5rem;
      border-radius: 1.5rem;
      background-color: $lightAccent;
      color: white;
      font-size: 1.6rem;
      font-weight: bold;
      transition: all 0.1s ease-in-out;
      opacity: 1;
    }
  }
}

@media (max-width: $largeDesktop) {
  .container {
    .blogContainer {
      width: 80%;
      margin-top: -20rem;
    }
  }
}

@media (max-width: $desktop) {
  .container {
    .blogContainer {
      margin-top: -10rem;
    }
  }
}

@media (max-width: $blogCardLimit) {
  .container {
    .blogContainer {
      width: 100%;
    }
  }
}

@media (max-width: $svgLimit1) {
  .container {
    .blogContainer {
      bottom: 200px;
    }
    .svg {
      bottom: 10rem;
    }
  }
}

@media (max-width: $svgLimit2) {
  .container {
    .blogContainer {
      bottom: 0px;
    }
    .svg {
      bottom: 0.5rem;
    }
  }
}

@media (max-width: $tablet) {
  .container {
    .blogWrapperContainer {
      flex-direction: column;
    }
  }
}
