@import "./styles/variables.module.scss";

.container {
  // .circle {
  //   width: 1000px;
  //   height: 1000px;
  //   border-radius: 50%;
  //   background-color: rgb(112, 112, 112); /* Background color */
  //   position: absolute;
  //   top: -10rem;
  //   left: -30rem;
  //   z-index: 98;
  //   opacity: 0.5;
  // }
  .progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $darkAccent;
    transform-origin: 0%;
  }

  .blogContainer {
    border: 2px solid red;
    height: 1000px;
    position: relative;
    margin-bottom: -400px;
    bottom: 400px;
    z-index: 1;
  }

  .svg {
    position: relative;
    bottom: 25rem;
  }

  .path {
    bottom: 100rem;
    stroke-width: 0;
  }
}
