.container {
  border: 2px solid green;
  margin-top: 7rem;
  background-image: url("https://res.cloudinary.com/db09icibj/image/upload/v1707763881/drexel-finance-website/landing/b392sqnl2r715zmxvmh4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100dvh - 7rem);

  .content {
    display: flex;
    height: calc(100dvh - 7rem);
    align-items: center;
    width: 90%;
    margin: 0 auto;
    .textContainer {
      width: 50%;
      padding: 0rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-align: center;
        z-index: 2;
      }
      p {
        text-align: center;
      }
      button {
        width: 15rem;
        height: 5rem;
        border-radius: 1.5rem;
      }
    }
    .bullishContainer {
      img {
        z-index: 2;
      }
    }
  }
}
