@import "../../styles/variables.module.scss";

.container {
  margin-top: 7rem;
  height: calc(100dvh - 7rem);

  .heroImg {
    object-fit: cover;
  }

  .content {
    display: flex;
    height: calc(100dvh - 7rem);
    align-items: center;
    width: 70%;
    margin: 0 auto;

    .textContainer {
      width: 50%;
      padding: 0rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-align: center;
        z-index: 2;
      }
      p {
        font-display: optional;
        width: 100%;
        text-align: justify;
        z-index: 1;
        font-weight: bold;
      }
      button {
        z-index: 1;
        border: none;
        width: 15rem;
        height: 5rem;
        border-radius: 1.5rem;
        background-color: $lightAccent;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        transition: all 0.1s ease-in-out;
        opacity: 1;

        &:hover {
          cursor: pointer;
          transition-timing-function: ease-in;
          transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
          transform: translateY(-3px);
          opacity: 1;
          filter: drop-shadow(2px 2px 5px #ffffff);
        }
      }
    }

    .imgWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 50%;
    }
  }
}

@media (max-width: $largeDesktop) {
  .container {
    .content {
      width: 90%;
    }
  }
}

@media (max-width: $desktop) {
  .container {
    .content {
      display: flex;
      flex-direction: column;
      min-width: 100%;
    }
    .textContainer {
      position: absolute;
      min-width: 100%;
      padding: 0rem 1rem;
      height: 100%;
      // transform: translate(0%, 0%);
    }
    .imgWrapper {
      display: none;
      .img {
        display: none;
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .container {
    h1 {
      font-size: 3.4rem;
    }
  }
}
